body {
    background: #333333;
    /* background: #6c6c75; */
    color: black;
    font-size: 1.3em;
}

.gray-banner {
    background: #6c6c75;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
}

.orange-banner {
    background: #f39100;
    height: 230px;
    width: 100%;
}

.orange-ending {
    background: #f39100;
    height: 40px;
    width: 100%;
    position:absolute;
    bottom:0;
}

.orange {
    color: #f39100;
}

.black-hover:hover {
    color: black;
}

.gray {
    color: #6c6c75;
}

.black {
    color: black;
}

.shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.logo {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
}

.icon-for-table {
    width: 60px;
}

.container {
    background: white;
    height: 100%;
}

.inner-container {
    padding: 50px;
}

.title {
    margin-left: 25px;
}

.border {
    /* TODO replace border with shadow */
    border: black solid 1px;
}

.navbar-item {
    color: black;
}

.navbar-item:hover {
    color: #f39100 !important;
}

.box-title {
    font-size: 1.2em;
}

.float-right {
    float: right;
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 12px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-40 {
    margin-left: 40px;
}

.card {
    margin-bottom: 10px;
}

.card-header {
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
}
