---
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
---

<img
    class="drop-shadow"
    src="/manual/tenth_introduction.png"
    alt="tenth_introduction"
/>
<p>
    <Trans i18nKey="bugsAndPrivacy.feedbackIsImportant" ns="manualTexts">
        Feedback und Bug-Reports sind extrem wichtig, um das Programm möglichst fehlerfrei zu bekommen und zu optimieren, da CaBr<sub>2</sub> sich noch in der Entwicklung befindet.
    </Trans>
</p>
<p>{t("bugsAndPrivacy.potentialProblems", { ns: "manualTexts" })}</p>
<p>{t("bugsAndPrivacy.contactDeveloper", { ns: "manualTexts" })}</p>
<img
    class="drop-shadow"
    src="/manual/bugreport.png"
    alt="bugreport"
/>
<p>{t("bugsAndPrivacy.detailsPlease", { ns: "manualTexts" })}</p>
<p><b>{t("bugsAndPrivacy.openSource", { ns: "manualTexts" })}</b></p>
<p><b>{t("bugsAndPrivacy.dontSpam", { ns: "manualTexts" })}</b></p>
<p>{t("bugsAndPrivacy.privacy", { ns: "manualTexts" })}</p>
