---
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
---

<p>{t("editSubstance.listDescription", { ns: "manualTexts" })}</p>
<p>
    <Trans i18nKey="editSubstance.providerInfo" ns="manualTexts">
        Der Provider zeigt, wo die Informationen zur Chemikalie herkommen und <b
            >durch Klicken auf den Provider wird man zur ursprünglichen Quelle
            weitergeleitet</b
        > und kann dort die Informationen der Substanz überprüfen oder vervollständigen.
    </Trans>
</p>
<p>{t("editSubstance.substanceClick", { ns: "manualTexts" })}</p>
<img
    class="drop-shadow"
    src="/manual/third_introduction.png"
    alt="third_introduction"
/>
<p>{t("editSubstance.dialogDescription", { ns: "manualTexts" })}</p>
<p>{t("editSubstance.scrollDown", { ns: "manualTexts" })}</p>

<p class="!mb-0">{t("editSubstance.hazardSymbolsUsage", { ns: "manualTexts" })}</p>
<p class="!mt-0">
    <Trans i18nKey="editSubstance.resetSubstance" ns="manualTexts">
        Die <b>ursprünglichen Informationen</b> einer bearbeiteten Substanz können <b>wiederhergestellt</b> werden, indem auf den "Zurück"-Pfeil geklickt wird.
    </Trans>
</p>
<p>{t("editSubstance.deleteSubstance", { ns: "manualTexts" })}</p>
