---
import { t } from "i18next";
---

<img
    class="drop-shadow"
    src="/manual/fourth_introduction.png"
    alt="fourth_introduction"
/>
<p>{t("environmentAndDisposable.briefDescription", { ns: "manualTexts" })}</p>
<p class="whitespace-pre-wrap"><b>{t("environmentAndDisposable.note", { ns: "manualTexts" })}</b></p>
<p>{t("environmentAndDisposable.editSubThemes", { ns: "manualTexts" })}</p>
<p>{t("environmentAndDisposable.rearrange", { ns: "manualTexts" })}</p>
