---
import { t } from "i18next";
---

<img
    class="drop-shadow"
    src="/manual/first_introduction.png"
    alt="first_introduction"
/>

<p>{t("introduction.boxDescription", { ns: "manualTexts" })}</p>
<p>{t("introduction.titleInput", { ns: "manualTexts" })}</p>
<p>{t("introduction.organizationInput", { ns: "manualTexts" })}</p>
<p>{t("introduction.moduleSubject", { ns: "manualTexts" })}</p>
<p>{t("introduction.nextInputs", { ns: "manualTexts" })}</p>
<p>{t("introduction.descriptionInput", { ns: "manualTexts" })}</p>

