---
import { t } from "i18next";
---

<img
    class="drop-shadow"
    src="/manual/eighth_introduction.png"
    alt="eighth_introduction"
/>
<p>{t("moreOptions.langAndTheme", { ns: "manualTexts" })}</p>
<p>{t("moreOptions.persistence", { ns: "manualTexts" })}</p>
