---
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
---

<img
    class="drop-shadow"
    src="/manual/seventh_introduction.png"
    alt="seventh_introduction"
/>
<p>{t("openExisting.whereToFind", { ns: "manualTexts" })}</p>
<p>
    <Trans i18nKey="openExisting.worksAlso" ns="manualTexts">
        Dies funktioniert größtenteils auch für alte Beryllium10-Dateien (<code>.be</code>).
    </Trans>
</p>
