---
import { t } from "i18next";
---

<p>{t("preview.onTheEnd", { ns: "manualTexts" })}</p>
<p><b>{t("preview.note", { ns: "manualTexts" })}</b></p>
<p>{t("preview.checkSheet", { ns: "manualTexts" })}</p>