---
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
---

<img
    class="drop-shadow"
    src="/manual/sixth_introduction.png"
    alt="sixth_introduction"
/>
<p>
    <Trans i18nKey="saveOrExport.howTo" ns="manualTexts">
        Erstellte Betriebsanweisungen können als Calciumdibromid-Datei (<code
            >.cb2</code
        >) gespeichert oder als PDF-Datei exportiert werden.
    </Trans>
</p>
<p>{t("saveOrExport.whereToFind", { ns: "manualTexts" })}</p>
