---
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
---

<img
    class="drop-shadow"
    src="/manual/second_introduction.png"
    alt="second_introduction"
/>
<p>{t("search.boxDescription", { ns: "manualTexts" })}</p>
<p>
    <Trans i18nKey="search.searchOptions" ns="manualTexts">
        Unter Suchoption kann man zwischen <b>Stoffname, Summenformel, Nummern</b> oder <b>Volltext</b> auswählen, wenn man nur mit einem Filter suchen will.
    </Trans>
</p>
<p>{t("search.multipleFilter", { ns: "manualTexts" })}</p>
<p class="whitespace-pre-wrap">{t("search.afterInput", { ns: "manualTexts" })}</p>
<p>
    <Trans i18nKey="search.exactSearch" ns="manualTexts">
        Oftmals jedoch sucht man nur nach dem Stoff selbst. Falls es sich um eine Stoff handelt, von dem es viele Verbindungen gibt, kann man durch aktivieren der <b>Exakten Suche</b> direkt danach suchen.
    </Trans>
</p>
<p>{t("search.uniqueSubstances", { ns: "manualTexts" })}</p>
<p>{t("search.listDescription", { ns: "manualTexts" })}</p>
<img
    class="drop-shadow"
    src="/manual/list_with_substances.png"
    alt="second_introduction"
/>
<p>{t("search.substanceNotFoundByProvider", { ns: "manualTexts" })}</p>
