---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

changeLanguage("en");
---

<Layout title="Kontakt (TODO Translate)">
    <div class="mb-10">
        <Card>
            <h3>Kontakt</h3>

            <p>Bei Fragen einfach eine E-Mail an <a href="mailto:cabr2.info@gmail.com">cabr2.info@gmail.com</a></p>
        </Card>
    </div>
</Layout>
