---
import Layout from "../../layouts/Layout.astro";
import { t, changeLanguage, setDefaultNamespace } from "i18next";
import { Trans } from "astro-i18next/components";
import Card from "../../components/Card.astro";

changeLanguage("en");

setDefaultNamespace("download");
---

<Layout title={t("common:nav.download")}>
    <div class="mb-10">
        <Card>
            <p>{t("studentThings")}</p>
            <p>{t("beryllium10")}</p>
        </Card>
    </div>

    <div class="mb-10">
        <Card>
            <div class="text-xl font-bold">
                <p class="!mb-1">{t("useWebApp")}</p>
                <a
                    class="flex flex-row items-center gap-2 w-fit mb-5"
                    href="https://app.cabr2.de"
                >
                    <img
                        class="w-14 h-14 !my-0 object-scale-down"
                        src="/favicon.svg"
                    />
                    <span>
                        <Trans i18nKey="webAppLink">
                            Link zur Webapp CaBr<sub>2</sub> für den PC
                        </Trans>
                    </span>
                </a>
            </div>
        </Card>
    </div>

    <div class="mb-10">
        <Card>
            <p>
                <Trans i18nKey="moreInformation">
                    Wer genauere Informationen zum Programm wissen möchte, kann
                    sich den Code dazu auf <a
                        href="https://codeberg.org/Calciumdibromid/CaBr2"
                        >Codeberg</a
                    > anschauen.
                </Trans>
            </p>

            <p>
                <Trans i18nKey="foss">
                    CaBr<sub>2</sub> ist <a
                        href="https://fsfe.org/freesoftware/comparison.de.html"
                        ><b>FOSS</b></a
                    > (free and open-source software)!
                </Trans>
                <br />
                {t("licenseHeader")}
                <ul class="not-prose !mt-0">
                    <li>{t("license.free")}</li>
                    <li>{t("license.checkCode")}</li>
                    <li>{t("license.modify")}</li>
                    <li>{t("license.copyAndShare")}</li>
                    <li>{t("license.extendAndPublish")}</li>
                </ul>
            </p>
        </Card>
    </div>
</Layout>
