---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

changeLanguage("en");
---

<Layout title="Impressum (TODO Translate)">
    <div class="mb-10">
        <Card>
            <h3>Impressum</h3>
    
            <p>Da es sich um eine private Seite handelt, wird kein formelles Impressum benötigt. </p>
        </Card>
    </div>
</Layout>
