---
import Layout from "../../layouts/Layout.astro";
import { t, changeLanguage, setDefaultNamespace } from "i18next";
import { Trans } from "astro-i18next/components";
import Card from "../../components/Card.astro";

changeLanguage("en");

setDefaultNamespace("index");
const sources = [
    {
        name: `${t("sources.gestis")}`,
        link: "https://gestis.dguv.de/search",
    },
];
---

<Layout title={t("common:nav.home")}>
  <div class="grid grid-cols-2 mb-10">
    <div class="text-center p-4 my-4">
      <h1>Calciumdibromid - CaBr<sub>2</sub></h1>
      <p class="pb-3">
        <b>
          <Trans i18nKey="briefDescription">
            CaBr<sub>2</sub> ist ein Programm zur Erstellung von Betriebsanweisungen
            für Laboreinheiten nach EG Nr. 1272/2008.
          </Trans>
        </b>
      </p>
      <a
        class="border-orange rounded-md p-3 text-2xl bg-orange text-white hover:no-underline hover:bg-amber-600"
        href="https://app.cabr2.de">{t("webAppLink")}</a
      >
    </div>

    <Card>
      <div class="text-center my-16">
        <Trans i18nKey="appDescription">
          Bei CaBr<sub>2</sub> handelt es sich um ein Open-Source-Projekt (siehe
          <a
            href="https://codeberg.org/Calciumdibromid/CaBr2/src/branch/main/LICENSE"
            >Lizenz</a
          >) und daher basiert die Verwendung der generierten
          Betriebsanweisungen auf Eigenverantwortung. Motiviert, mitfinanziert
          und begleitet wird das Projekt vom <a
            href="https://www.campus-burghausen.de/lehrende/professorinnen-und-professoren/prof-dr-dominik-pentlehner/"
            >Campus Burghausen</a
          >.
        </Trans>
      </div>
    </Card>
  </div>

  <div class="mb-10">
    <Card>
      <div class="grid grid-cols-2 gap-10">
        <img
          class="my-11 h-auto max-w-full drop-shadow shadow-xl"
          src="/first_preview.png"
          alt="Program preview"
        />
        <div class="text-center">
          <h3>
            <!-- TODO translate -->
            Alles in einem Überblick.
          </h3>
          <p>Need Text</p>
          <p>{t("sourceHint")}</p>

          <ul class="list-disc inline-block mt-0">
            {
              sources.map((source) => (
                <li>
                  <a href={source.link}>{source.name}</a>
                </li>
              ))
            }
          </ul>

          <p class="opacity-50">{t("extendSourcesHint")}</p>
        </div>
      </div>
      <hr />

      <p class="text-center">
        <!-- TODO translate -->
        Durch die Vorschau kann man jederzeit nachvollziehen wie die Betriebsanweisungen
        als PDF aussehen wird.
      </p>
      <div class="flex flex-row gap-1">
        <img
          class="h-auto w-[38.2rem] drop-shadow"
          src="/second_preview_1.png"
          alt="Datasheet preview 1"
        />
        <img
          class="h-auto w-[38.2rem] drop-shadow"
          src="/second_preview_2.png"
          alt="Datasheet preview 2"
        />
      </div>

      <hr />

      <p>{t("safetySheetDescription")}</p>

      <p>{t("unknownSubstanceWarning")}</p>

      <p>{t("emergencyHint")}</p>
    </Card>
  </div>
</Layout>
