---
import { t, changeLanguage, setDefaultNamespace } from "i18next";
import Layout from "../../layouts/Layout.astro";
import NewsCard, { FrontMatter } from "../../components/newsCard.astro";

changeLanguage("en");

const news = (await Astro.glob<FrontMatter>("../news/*.md")).reverse();
setDefaultNamespace("news");
---

<Layout title={t("common:nav.news")}>
    {news.map((n) => <NewsCard mdInstance={n} />)}
</Layout>
