---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

changeLanguage("en");
---

<Layout title="Privacy Policy (TODO Translate)">
    <Card>
        <h3>Privacy Policy</h3>
    </Card>
</Layout>
