---
import { t, changeLanguage, setDefaultNamespace } from "i18next";
import { Trans } from "astro-i18next/components";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

changeLanguage("de");

setDefaultNamespace("contact");
---

<Layout title={t("title")}>
    <div class="mb-10">
        <Card>
            <h3>{t("title")}</h3>

            <p>
                <Trans i18nKey="questionsContact">
                    Bei Fragen einfach eine E-Mail an <a
                        href="mailto:cabr2.info@gmail.com"
                        >cabr2.info@gmail.com</a
                    >.
                </Trans>
            </p>
        </Card>
    </div>
</Layout>
