---
import { t, changeLanguage, setDefaultNamespace } from "i18next";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

changeLanguage("de");

setDefaultNamespace("imprint");
---

<Layout title={t("title")}>
    <div class="mb-10">
        <Card>
            <h3>{t("title")}</h3>
    
            <p>{t("statement")}</p>
        </Card>
    </div>
</Layout>
