---
import { t, changeLanguage, setDefaultNamespace } from "i18next";
import { Trans } from "astro-i18next/components";
import Layout from "../layouts/Layout.astro";
import Introduction from "../components/manual/introduction.astro";
import Search from "../components/manual/search.astro";
import EditSubstance from "../components/manual/editSubstance.astro";
import EnvironmentAndDisposable from "../components/manual/environmentAndDisposable.astro";
import Preview from "../components/manual/preview.astro";
import SaveOrExport from "../components/manual/saveOrExport.astro";
import OpenExisting from "../components/manual/openExisting.astro";
import MoreOptions from "../components/manual/moreOptions.astro";
import BugsAndPrivacy from "../components/manual/bugsAndPrivacy.astro";
import Card from "../components/Card.astro";

changeLanguage("de");

setDefaultNamespace("manual");
---

<Layout title={t("common:nav.manual")}>
    <div class="mb-2">
        <Card>
            <p>
                <Trans i18nKey="preface">
                    Falls bei der Anwendung von CaBr<sub>2</sub> Unverständlichkeiten
                    auftreten, befindet sich hier zu jedem Punkt eine ausführliche
                    Erklärung.
                </Trans>
            </p>
        </Card>
    </div>

    <div class="grid grid-cols-5 gap-10">
        <div class="col-span-1 relative">
            <div class="sticky top-10 my-10">
                <Card>
                    <p>{t("tableOfContents.title")}</p>
                    <ul class="not-prose text-base gap-0 list-decimal">
                        <li>
                            <a href="#introduction"
                                >{t("tableOfContents.introduction")}</a
                            >
                        </li>
                        <li>
                            <a href="#search">{t("tableOfContents.search")}</a>
                        </li>
                        <li>
                            <a href="#editSubstances"
                                >{t("tableOfContents.editSubstances")}</a
                            >
                        </li>
                        <li>
                            <a href="#environmentAndDisposable"
                                >{
                                    t(
                                        "tableOfContents.environmentAndDisposable"
                                    )
                                }</a
                            >
                        </li>
                        <li>
                            <a href="#preview">{t("tableOfContents.preview")}</a
                            >
                        </li>
                        <li>
                            <a href="#saveAndExport"
                                >{t("tableOfContents.saveAndExport")}</a
                            >
                        </li>
                        <li>
                            <a href="#openExisting"
                                >{t("tableOfContents.openExisting")}</a
                            >
                        </li>
                        <li class="h-16">
                            <a href="#moreOptions"
                                ><Trans i18nKey="tableOfContents.moreOptions">
                                    Weitere Einstellungen in CaBr<sub>2</sub>
                                </Trans>
                            </a>
                        </li>
                        <li>
                            <a href="#bugsAndPrivacy"
                                >{t("tableOfContents.bugsAndPrivacy")}</a
                            >
                        </li>
                    </ul>
                </Card>
            </div>
        </div>

        <div class="col-span-4">
            <div class="my-10">
                <Card>
                    <h3 id="introduction">
                        1. {t("tableOfContents.introduction")}
                    </h3>
                    <Introduction />
                </Card>
            </div>

            <div class="mb-10">
                <Card>
                    <h3 id="search">2. {t("tableOfContents.search")}</h3>
                    <Search />
                </Card>
            </div>

            <div class="mb-10">
                <Card>
                    <h3 id="editSubstances">
                        3. {t("tableOfContents.editSubstances")}
                    </h3>
                    <EditSubstance />
                </Card>
            </div>

            <div class="mb-10">
                <Card>
                    <h3 id="environmentAndDisposable">
                        4. {t("tableOfContents.environmentAndDisposable")}
                    </h3>
                    <EnvironmentAndDisposable />
                </Card>
            </div>

            <div class="mb-10">
                <Card>
                    <h3 id="preview">5. {t("tableOfContents.preview")}</h3>
                    <Preview />
                </Card>
            </div>

            <div class="mb-10">
                <Card>
                    <h3 id="saveAndExport">
                        6. {t("tableOfContents.saveAndExport")}
                    </h3>
                    <SaveOrExport />
                </Card>
            </div>

            <div class="mb-10">
                <Card>
                    <h3 id="openExisting">
                        7. {t("tableOfContents.openExisting")}
                    </h3>
                    <OpenExisting />
                </Card>
            </div>

            <div class="mb-10">
                <Card>
                    <h3 id="moreOptions">
                        8. <Trans i18nKey="tableOfContents.moreOptions">
                            Weitere Einstellungen in CaBr<sub>2</sub>
                        </Trans>
                    </h3>
                    <MoreOptions />
                </Card>
            </div>

            <div class="mb-10">
                <Card>
                    <h3 id="bugsAndPrivacy">
                        9. {t("tableOfContents.bugsAndPrivacy")}
                    </h3>
                    <BugsAndPrivacy />
                </Card>
            </div>

            <div class="mb-10">
                <Card>
                    <hr />
                    <p class="!pb-0">{t("moreQuestions")}</p>
                    <div class="flex flex-row justify-center not-prose">
                        <a
                            class="align-middle my-6"
                            href="mailto:cabr2.help@gmail.com"
                        >
                            <img class="w-14" src="/email.png" alt="email" />
                        </a>
                        <a
                            class="align-middle my-6"
                            href="https://matrix.to/#/#cabr2:obermui.de"
                        >
                            <img
                                class="w-24"
                                src="/matrix-logo.svg"
                                alt="matrix-channel"
                            />
                        </a>
                    </div>
                </Card>
            </div>
        </div>
    </div>
</Layout>
<style>
    h3 {
        @apply text-orange font-bold;
    }
    li > a {
        @apply text-sm whitespace-pre-line;
    }
</style>
