---
import type { MarkdownInstance } from "astro";

export interface FrontMatter {
    title: string,
    date: string,
    author?: string,
}

interface Props {
    mdInstance: MarkdownInstance<FrontMatter>;
}

const { mdInstance: {Content, frontmatter: {title, date, author}} } = Astro.props;
---

<div class="shadow-[0_2px_4px_rgba(0,0,0,0.3)] px-5 py-2 my-2 rounded bg-white">
    <div class="flex flex-row place-content-between">
        <h3 class="my-1 font-semibold">{title}</h3>
        <span class="my-1 text-base">{date}</span>
    </div>
    {author !== undefined && author.length > 0 && <span class="text-sm">Autor TODO translate: {author}</span>}
    <Content />
</div>
