---
import i18next, { t } from "i18next";
import { LanguageSelector } from "astro-i18next/components";
import { localizePath } from "astro-i18next";

import Card from "../components/Card.astro";

export interface Props {
  title: string;
}

const { title = false } = Astro.props;

const currentYear = new Date().getFullYear();

let { pathname } = Astro.url;
if (pathname === "/") {
  pathname = "/index";
}
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>CaBr₂ - {title}</title>
  </head>
  <body id="app">
    <nav
      id="navbar"
      class="bg-white drop-shadow-md flex rounded-b-md xl:mx-80 px-4"
    >
      <img class="w-14 h-14 my-2" src="/logo.png" alt="CaBr₂ Logo" />
      <ul class="inline-flex flex-row w-full items-center">
        <li><a href={localizePath("/")}>CaBr<sub>2</sub></a></li>
        <li>
          <a href={localizePath("/download")}>{t("common:nav.download")}</a>
        </li>
        <li><a href={localizePath("/manual")}>{t("common:nav.manual")}</a></li>
        <li><a href={localizePath("/news")}>{t("common:nav.news")}</a></li>
        <li class="ml-auto !p-0">
          <LanguageSelector
            class="bg-white py-[13px] hover:bg-white"
            showFlag={true}
          />
        </li>
      </ul>
    </nav>
    <div id="main" class="scroll-smooth pb-5">
      <div class="flex justify-center xl:mx-80">
        <div class="prose-lg pt-7">
          <slot />

          <div class="mb-5">
            <Card>
              <div class="flex justify-center w-full">
                <ul class="inline-flex flex-row list-none">
                  <li>
                    <a href={localizePath("/imprint")}
                      >{t("imprint:title")}</a
                    >
                  </li>
                  <li class="mx-2">|</li>
                  <li>
                    <a href={localizePath("/contact")}>
                      {t("contact:title")}
                    </a
                    >
                  </li>
                  <li class="mx-2">|</li>
                  <li>
                    <a href={localizePath("/privacy-policy")}
                      >{t("privacy-policy:title")}</a
                    >
                  </li>
                </ul>
              </div>
            </Card>
          </div>
          <div class="flex justify-center w-full relative">
            <a
              href={`https://codeberg.org/Calciumdibromid/website/src/branch/main/src/pages${pathname}.astro`}
              class="has-tooltip border-orange rounded-md mr-4 py-1 px-2 text-xl bg-orange text-white hover:no-underline hover:bg-amber-600 hover:cursor-pointer"
              >
              <!-- got this svg from https://tabler-icons.io/ its MIT license -->
              <!-- TODO add this to readme or so -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-edit"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                ></path>
                <path
                  d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                ></path>
                <path d="M16 5l3 3"></path>
              </svg><span class="tooltip rounded-md shadow-lg py-1 px-2 bg-gray-50 text-black -mt-16 -ml-10">Edit this page</span></a
            >
            <b>{currentYear} CaBr<sub>2</sub></b>
          </div>
        </div>
      </div>
    </div>
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background-color: #fafafa;
      }
      code {
        @apply bg-gray-300 bg-opacity-40 text-red-600 p-1;
      }

      body {
        font-size: 1.4em;
        /* background-image: url(/bg.svg); */
        background-color: #6c6c75;
      }

      a {
        @apply text-orange hover:underline;
      }

      ul {
        @apply list-disc;
      }

      #app {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
          "header"
          "main"
          "footer";
      }

      #app > #navbar {
        grid-area: header;
        z-index: 100;
      }

      #app > #navbar > ul {
        @apply list-none;
      }

      #app > #navbar > ul > li {
        @apply py-2.5;
      }

      #app > #navbar > ul > li > a {
        @apply py-2.5 mx-3.5 text-black hover:no-underline hover:text-orange;
      }

      #app > #main {
        grid-area: main;
        overflow: auto;
        overflow-x: hidden;
        z-index: 50;
      }

      #app > #footer {
        grid-area: footer;
        padding-left: 0.625rem;
      }

      .tooltip {
        @apply invisible absolute;
      }

      .has-tooltip:hover .tooltip {
        @apply visible z-50;
      }
    </style>
  </body>
</html>
